body {
  color: #000;
  font-family: "Playfair Display";
  font-weight: 900;
  overflow-x: hidden;
}

h1 {
  font-weight: 900;
  font-size: 96px;
  color: #000;
}

h2{
  font-size: 288px;
  line-height: 384px;
  color: #E5E5E5;
  position: absolute;
  z-index: -1;
}

/* Nav Bar */
.header {
  color: black;
  padding: 15px 25px;
}

.navbar-brand {
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  color: black !important;
}

.navbar-nav {
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 18px;
}

.nav-item {
  padding-top: 10px;
}

.nav-link {
  margin: 0 50px;
  color: black !important;
}

/* .navbar {
  background-color: #fff;
  color: black;
} */

/* title */
.Levelup-header {
  font-weight: normal;
  text-align: center;
  color: #000;
}

.big-heading {
  font-size: 96px;
  line-height: 128px;
  padding-top: 400px;
}

.verb {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.phrasal-verb {
  font-style: italic;
  font-size: 18px;
  margin-right: 700px;
}

.quote {
  font-size: 48px;
  line-height: 64px;
  padding-bottom: 500px;
}

/* About Us */
.big-numbers1 {
  bottom: 270px;
  right: 650px;
}

.about-us {
  margin-left: 300px;
}

.filler {
  font-family: "Sofia Pro";
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
}

.purple-text {
  font-weight: 600;
  color: #531CB3;
}

.wavy-line{
  position: relative;
  left: 200px;
  padding: 10px 0 45px;
}

.rectangle{
  background: #531CB3;
  position: absolute;
  width: 64px;
  height: 4px;
  bottom: 26px;
}

.arrow{
  position: relative;
  left: 300px;
  bottom: 45px;
}

/* What We Do */
.big-header2 {
  right: 80px;
  position: relative;
}

.big-numbers2 {
  bottom: 580px;
  right: 500px;
}

.the-job {
  margin-left: 300px;
  padding: 580px 100px 400px;
}

.specialty {
  font-family: "Sofia Pro";
  font-size: 48px;
  line-height: 48px;
  color: #08090A;
}

.desktop {
  right: 215px;
  bottom: 200px;
  position: relative;
}

.filler-padding {
  padding: 45px 0;
}

.specialty {
  padding: 5px 0;
}

/* What we've worked on */

.reference {
  margin-left: 250px;
  padding-bottom: 350px;
}

.big-numbers3 {
  bottom: 140px;
  right: 555px;
}

.lobos {
  position: relative;
  left: 1100px;
  bottom: 370px;
}

.apex {
  position: relative;
  left: 1240px;
  bottom: 360px;
}

.vivid {
  position: relative;
  left: 1030px;
  bottom: 150px;
}

.gelato {
  position: relative;
  left: 455px;
  bottom: 110px;
}

/* FOOTER */
.blue-section {
  background-image: linear-gradient(252.47deg, #60AFFF 0%, #3454D1 100%);
  text-align: center;
  font-family: "Sofia Pro";
}

.contact {
  padding: 492px;
  font-size: 96px;
  line-height: 96px;
}

.big-wavy{
  position: relative;
  bottom: 500px;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
}
